
:root {
    --bg-color: #1e1e1e;
    --bg2-color: #525252;
    --bg3-color: #3a3a3a;
    --font-color: #e3e9ec;
}

.card {
    background-color: #ffffff14 !important;
}

a:hover {
    color: #3ea4ff !important;
}
.navbar {
    box-shadow: 0 0 5px 0 black !important;
}
.navbar.bg-white ,
.navbar {
    background-color: var(--bg3-color) !important;
    background: var(--bg3-color) !important;
}
.navbar .bg-gray, .dropdown-menu {
    background-color: var(--bg3-color) !important;
}
.navbar .bg-gray:hover, .navbar .bg-gray:focus, .navbar .bg-gray:focus-visible {

    background-color: rgba(var(--bg3-color), 0.5) !important;
}
.navbar .btn.nav-link {
    border:0 !important;
}
.navbar * {
    color:white !important;
}
#nav-drawer {
    box-shadow: 0 0 5px black;
    background: var(--bg3-color) !important;
}
#nav-drawer .list-group-item {
    background: var(--bg-color);
}
input[type=text] {
    background: var(--bg3-color);
    color: white;
    border-radius: 6px;
}
.btn.btn-secondary {
    background-color: var(--bg3-color) !important;
    border-color: var(--blue) !important;
    border-radius: 6px !important;
    color: white !important;
}

.btn.btn-secondary:hover {
    border-color: var(--blue) !important;
    border-radius: 6px !important;
    color: white !important;
    background-color: var(--bg2-color) !important;
}
#page-footer, #region-main {
    background: var(--bg3-color) !important;
}
#coc-hiddencoursescount {
    color: #f44336 !important;
}
a {
    transition: color 0.2s;
}
a:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}
img.userpicture {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    filter: invert(1);
    opacity: 0.3;
}
.popover-region-header-container, .popover-region-footer-container {
    background-color: var(--bg3-color) !important;
    border-color: #777 !important;
}
.popover-region-content-container, .popover-region-container {
    border-color: #777 !important;
    background-color: var(--bg-color) !important;
    border-radius: 8px;
}
table {
    color: white !important;
}
.preferences-container .preference-table tr th:nth-child(even) {
    background-color: var(--bg3-color) !important;
}
.preferences-container .preference-table tr td:nth-child(even) {
    background-color: var(--bg-color) !important;
}
