:root {
    --bg-color: #1E1E1E;
    --bg2-color: #525252;
    --bg3-color: #3a3a3a;
    --font-color: #e3e9ec;
    --success-color: #c0cea8;
    --seance-passee: #36abcc;
    --seance-future: #7ed0e8;
    --seance-font: #313131;
}

html {
    background-color: var(--bg-color) !important;
}

body {
    color: var(--font-color) !important;
}

.cke_editable:not > .panel {
    background-color: var(--bg-color) !important;
}

.panel--outlined {
    border: 0 !important;
}

.panel--success {
    background-color: var(--success-color) !important;
    color: var(--bg-color) !important; /* yes */
}

#zoneUniqueUpload-uploadzone {
    background-color: #fff;
    color: #111;
}

#fermetures {
    background: #525252 !important;
}

.marqueur_heure_repere {
    background: rgba(0, 0, 0, 0) !important;
}

#selecteur_vue > li > a {
    background-color: var(--bg-color) !important;
    color: var(--font-color) !important;
}

table#vue_mensuelle .seance_moi.seance_passee:hover, #evenements table.evenements .seance_moi.seance_passee:hover,
#evenements table.cdt .seance_moi.seance_passee:hover, table#vue_mensuelle .seance_annulee.seance_passee:hover,
#evenements table.evenements .seance_annulee.seance_passee:hover, #evenements table.cdt .seance_annulee.seance_passee:hover,
table#vue_mensuelle .seance_moi.seance_passee, #evenements table.evenements .seance_moi.seance_passee,
#evenements table.cdt .seance_moi.seance_passee, table#vue_mensuelle .seance_annulee.seance_passee,
#evenements table.evenements .seance_annulee.seance_passee, #evenements table.cdt .seance_annulee.seance_passee {
    background-color: var(--seance-passee) !important;
    color: var(--seance-font) !important;
}

#vue_mensuelle div.seance_moi:hover, #evenements table.evenements div.seance_moi:hover, #evenements table.cdt div.seance_moi:hover,
#vue_mensuelle div.seance_moi, #evenements table.evenements div.seance_moi, #evenements table.cdt div.seance_moi {
    background-color: var(--seance-future) !important;
    color: var(--seance-font) !important;
}

.hd {
    background: none !important;
}

.detail_activite_type {
    background-color: var(--bg2-color) !important;
}

.panel--bg-lightest, .content-toolbar, .jstree-default, .jstree-anchor, .jstree-default, .jstree-wholerow, .content-filter,
.list--lined>li, .list--outlined-between>li, .list--outlined>li, .list--overlined>li, .list-enhanced1--inset>li, .list-enhanced1>li,
#page, select, .yui-skin-sam .yui-dt th, .score, .panel--outlined, #selecteur_groupe_vue, .m-reset, #navigation_cahier_texte,
.yui-skin-sam .yui-panel .bd, .yui-skin-sam .yui-panel .ft, .yui-skin-sam .yui-panel .hd, #seance_detail_conteneur,
#seance_actions {
    background-color: var(--bg-color) !important;
    border: 0 !important;
    color: var(--font-color) !important;
}

.msg-information {
    background-color: #999f63 !important;
    border: 0 !important;
}

/* Messagerie */
.modal__content {
    color: #708c9a !important;
}

/*.js-signature {
    background-color: #fff !important;
}*/

/* notes */
tr:hover {
    background-color: var(--bg2-color) !important;
}

td {
    border: 0 !important;
}

tr.yui-dt-even, tr.yui-dt-even > td {
    background-color: var(--bg3-color) !important;
}

tr.yui-dt-odd, tr.yui-dt-odd > td {
    background-color: var(--bg-color) !important;
}

.gestion fieldset, #contenu .fieldset, #popin_question fieldset {
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
}

#grille_dossier_absence > table > * > tr, .yui-dt-first > th {
    background-color: var(--bg-color) !important;
}

#contenu > img {
    width: 0;
    height: 0;
}

.content-toolbar {
    border-bottom: 2px solid #006dca !important;
}

.table-skin-1__header {
    border-bottom: 1px solid white !important;
}

.row__group > div > h2 {
    border-bottom: 1px solid white !important;
}

.text--slate-darker {
    color: var(--font-color) !important;
}

.js-consulterMessage {
    color: #08bee8 !important;
}